@use 'styles/variables' as *;

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: $space-xs;
  transition: color $transition;
}

.default {
  color: $text-secondary; 
}

.primary {
  color: $primary; 
}

.secondary {
  color: $secondary; 
}

.required {
  color: $error;
  margin-left: $space-xs;
  font-weight: bold;
}

.label:hover {
  &.default {
    color: $text-primary;
  }
  
  &.primary {
    color: $secondary;
  }
  
  &.secondary {
    color: $primary;
  }
}

.label.error {
  color: $error;
}

.label.disabled {
  color: $text-muted;
  cursor: not-allowed;
}